/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  border: 0;
}

img.floatright {
  float: right;
  margin-left: 10px;
}

img.floatleft {
  float: left;
  margin-right: 10px;
}

body {
  background-color: #fff;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 0.5em;
  color: #ef4723;
  font-size: 150%;
}

h2 {
  margin-top: 2em;
  color: #ef4723;
  font-size: 125%;
}

p {
  margin: 1em 0;
}

a {
  color: #0a95f4;
}

olda {
  color: #0ac5f4;
}

a:hover {
  color: black;
}

a:visited {
  color: #0390fc;
}

table {
  font-size: inherit;
  font: 100%;
}

.highlight {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

.highlight pre {
  margin: 0.4em
}

.highlight code {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
  line-height: 1.5;
}

code {
  font-family: 'Inconsolata', monospace;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 50em;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #ef4723;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

  .site .title a {
    color: #ef4723;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  #post ul {
    margin-left: 1em;
  }

#post pre {
  padding: 0.3em;
}

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

#elsewhere {
	width: 340px;
}

#github-badge {
	width: 200px;
	float: right;
	clear: right;
	margin-right: 1em;
}

img {
  max-width: 40em;
}
